<style>
    
.footer a {
  color: #fff;
  font-weight: 300;
}

</style>

<div class="footer text-white bg-primary pt-3 pt-lg-4">
    <div class="container-fluid px-lg-5">
        <div class="row pb-3 border-bottom">
            <div class="col-12 col-lg-4 col-xxl-3 mb-3">
                <div class="position-relative mb-3" style="width: fit-content;">
                    <img class="mt-2 mt-lg-3 me-4 me-lg-5" style="width: calc(200px + 5vw);" src="/images/footer-logo.svg">
                    <img class="position-absolute top-0 end-0" style="width: calc(1rem + 1.2vw);" src="/images/footer-design.svg">
                </div>
                <p class="fw-light mb-0" style="font-size: calc(1rem + 0.1vw);">This course covers core AI concepts, including</p>
            </div>

            <div class="col-12 col-lg-8 col-xxl-9 pt-3 pt-lg-5">
              <div class="row ps-xl-5">
                <div class="col-6 col-md-3 mb-3">
                  <h5 style="font-size: calc(1rem + 0.4vw);">Learner</h5>
                  <div class="col-12"><a href="">Education</a></div>
                  <div class="col-12"><a href="">Community</a></div>
                  <div class="col-12"><a href="">Professional</a></div>
                  <div class="col-12"><a href="">Faculty</a></div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                  <h5 style="font-size: calc(1rem + 0.4vw);">My Account</h5>
                  <div class="col-12"><a href="">Awards</a></div>
                  <div class="col-12"><a href="">Update Pro</a></div>
                  <div class="col-12"><a href="">Renew Subsription</a></div>
                  <div class="col-12"><a href="">Get GIft</a></div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                  <h5 style="font-size: calc(1rem + 0.4vw);">Company</h5>
                  <div class="col-12"><a href="">About us</a></div>
                  <div class="col-12"><a href="">Our History</a></div>
                  <div class="col-12"><a href="">Press</a></div>
                  <div class="col-12"><a href="">Culture & Trade</a></div>
                  <div class="col-12"><a href="">Blog</a></div>
                </div>
                <div class="col-6 col-md-3 mb-3">
                  <h5 style="font-size: calc(1rem + 0.4vw);">Need Help?</h5>
                  <div class="col-12"><a href="">FAQ's</a></div>
                  <div class="col-12"><a href="">Contact Us</a></div>
                  <div class="col-12"><a href="">Help</a></div>
                  <div class="col-12"><a href="">Payment Service</a></div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="col-12 d-flex align-items-center mb-2">
                <div class="rounded-circle border border-white d-flex align-items-center justify-content-center" style="width: 35px;height: 35px;"><i class="bi bi-envelope"></i></div>
                <p class="mb-0 ms-3 fw-light">Ale.Graphic02@gmail.com</p>
              </div>
              <div class="col-12 d-flex flex-wrap align-items-center justify-content-between fw-light">

                <div class="d-flex align-items-center">
                  <div class="rounded-circle border border-white d-flex align-items-center justify-content-center" style="width: 35px;height: 35px;"><i class="bi bi-telephone-outbound"></i></div>
                  <p class="mb-0 ms-3">+92 123456789</p>
                </div>

                <div class="d-flex align-items-center mt-2 mt-sm-0">
                  <p class="me-3 me-lg-5 mb-0">Register Users ( <span>1525</span> )</p>
                  <p class="ms-3 ms-lg-5 mb-0">Total Course Post ( <span>1525</span> )</p>
                </div>
                
              </div>
            </div>
        </div>
        <div class="col-12 fw-light d-flex flex-wrap align-items-center justify-content-between py-2">
          <p class="me-3 mb-0">Design By Ale Graphics</p>
          <p class="me-3 mb-0">All copyright reserved by Ale Graphics in 2025 Ltd</p>
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
              <a href=""><i class="bi bi-github fs-2"></i></a>
              <i class="bi bi-linkedin fs-3 mx-3"></i>
              <i class="bi bi-discord fs-3"></i>
            </div>
          </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/adminPage.js"></script>
<script src="/javascripts/newCourse.js"></script>
<script src="/javascripts/payment.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>

<!-- Include Owl Carousel CSS -->
<script src="owlcarousel/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>


<script src="jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/regular.min.js"></script>

</body>
</html>