<%- include('./partials/header.ejs') %>

<div class="container mt-5">
  <h2>Reset Password</h2>
  <form action="/user/reset-password/<%= token %>" method="POST">
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>

</body>
</html>

